---
layout: default
title: "Meinung Archiv"
permalink: /blog/meinung/
---

<h1>Kommentare, Beiträge und Meinungen</h1>

<ul>
  {% for post in site.posts %}
    {% if post.categories contains "Meinung" %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <br>
        <small>Veröffentlicht am {{ post.date | date: "%B %d, %Y" }}</small>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">...weiter lesen</a>
      </li>
      <br>
    {% endif %}
  {% endfor %}
</ul>
