:root {
  --primary-color-50: #fff2f1;
--primary-color-100: #ffe2e1;
--primary-color-200: #ffcac7;
--primary-color-300: #ffa5a0;
--primary-color-400: #ff746d;
--primary-color-500: #f8443b;
--primary-color-600: #e5271d;
--primary-color-700: #c11c14;
--primary-color-800: #a01b14;
--primary-color-900: #841d18;
--primary-color-950: #480a07;
--secondary-color-50: #eeedff;
--secondary-color-100: #e0deff;
--secondary-color-200: #c7c3ff;
--secondary-color-300: #aa9fff;
--secondary-color-400: #9379ff;
--secondary-color-500: #855afa;
--secondary-color-600: #7a3cef;
--secondary-color-700: #6b2fd3;
--secondary-color-800: #5529aa;
--secondary-color-900: #472986;
--secondary-color-950: #1b0f31;
--tertiary-color-50: #fcf8ee;
--tertiary-color-100: #f3e2b5;
--tertiary-color-200: #eed799;
--tertiary-color-300: #e6bd63;
--tertiary-color-400: #e0a73f;
--tertiary-color-500: #d78929;
--tertiary-color-600: #be6921;
--tertiary-color-700: #9e4d1f;
--tertiary-color-800: #813d1f;
--tertiary-color-900: #6b331c;
--tertiary-color-950: #3d190b;






  --text-color: var(--tertiary-color-50);
  /* White */
  --font-family: 'Arial', sans-serif;
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-l: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--secondary-color-950);
  font-size: var(--font-size-base);
  line-height: 140%;
}

a:hover {
  box-shadow: 0px 2px 0px var(--primary-color-400);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* CSS RESET */
}
& button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 1rem;
  border-top-left-radius: 0rem;
  margin-top: 3dvh;
  width: 15rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
.nomargin {
  margin: 0;
}

& button:hover {
  background-color: var(--secondary-color-50);
  color: var(--secondary-color-950);
}
.buttononwhitebg {
  color: var(--secondary-color-950);
  border-color: var(--secondary-color-950);
}
/* Navigation */
header {
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(27, 15, 49, 0.3);
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5dvh;
  padding: 1rem;
}

.menu li {
  list-style: none;

}

.menu li a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.menu li.subitem a {}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px var(--primary-color-400) solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu>a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  color: var(--text-color);
}

.submenu-active {
  background-color: var(--secondary-color-950);
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    margin-right: auto;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    margin-right: 1rem;
  }

  .button {
    order: 2;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: var(--secondary-color-950);
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }
}

.underlined-text {
  font-weight: normal;
  letter-spacing: 0.09rem;
  line-height: 1.4;
  text-transform: uppercase;
  border-color: var(--primary-color-400);
  border-width: 0 0 2px 0;
  border-style: solid;
}

.btn-primary {
  background: var(--primary-color-400);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;

  &:hover {
    background-color: var(--tertiary-color-200);
  }
}

.about-content {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "image ."
    "image heading"
    "image text"
    "image socials"
    "image ."
    ;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  padding: 3dvh;
  .social-icons {
    justify-self: baseline;
  }
  & .self-description {
    filter: brightness(90%);
  }
  & h1 {
    grid-area: heading;
    font-size: var(--font-size-xxl);
    line-height: 115%;
  }

  & p {
    grid-area: text;
    font-size: var(--font-size-md);
  }

  & img {
    grid-area: image;
  }

  & .social-icons {
    grid-area: socials;
    display: flex;

    & li {
      list-style: none;
      margin: 0 0.5rem;
      /* Adjusted to rem */
      height: 2.5em;
      /* Adjusted to em */
      width: 2.5em;
      /* Adjusted to em */
      border: 2px solid var(--text-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-base);
      transition: all ease 0.3s;

      & i {
        color: var(--text-color);
      }
    }

    & li:hover {
      & i {
        color: var(--primary-color-400);
      }

      background: var(--tertiary-color-200);
      cursor: pointer;
    }
  }

}

@media (max-width: 800px) {
  .about-content {
    grid-template-areas:
      "image heading"
      "text text"
      "socials socials";   
      & img {
        justify-self: stretch;
      }
  }

  .self-description {
    grid-column: span 2 / auto;
  }

}

.headshot {
  border-radius: 0em 2em 0em 2em;
  max-width: 30dvw;
}

.fatcolorfultext {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color-200);
}

.highlighted-text {
  display: inline-block;
  background: linear-gradient(90deg, #FF746D 9%, #FF9C53 74%, #FF746D 100%);
  color: transparent;
  -webkit-background-clip: text;
  /* WebKit-Browser wie Chrome und Safari */
  background-clip: text;
}

.wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {

  display: block;
  width: calc(133% + 1.3px);
  height: 126px;
  transform: rotateY(180deg);
}

.wave .shape-fill {
  fill: #FF746D;
}


.blog {
  margin-top: 7dvh;
  text-wrap: balance;

  .container {
    padding: 4rem;
    padding-top: 6rem;
    background: rgb(255,116,109);
    background: linear-gradient(180deg, rgba(255,116,109,1) 1%, var(--secondary-color-950) 50%); 
  display: grid;
  justify-content: center;
  }

 
  & .blog-entry {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--secondary-color-950);
    border-radius: 1rem;
    border-top-left-radius: 0rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    & img {
      object-fit: cover;
      width: 100%;
      height: 25dvh;

      display: block;
      /* no whitespace */
      transition: .3s ease-in-out;
    }

   
    & .textframe {
      padding: 2rem;
      & p:first-child {
        margin-bottom: 5dvh;
      }
    }

    & .imageframe {
      /* now a container for the image */
      display: inline-block;
      /* shrink wrap to image */
      overflow: hidden;
      /* hide the excess */
      
      border-top-right-radius: 1rem;
    }

    & .imageframe:hover img {
      transform: scale(1.2);
    }

    & img:hover {
      -ms-transform: scale(1.5);
      /* IE 9 */
      -webkit-transform: scale(1.5);
      /* Safari 3-8 */
      transform: scale(1.5);

    }

    & h3 {
      font-size: var(--font-size-l);
    }
    & .titleframe {
      margin-bottom: 2dvh;

    }
    & p {
      font-weight: 500;
      
    }

   


  }
  .belowwaves {
    margin-top: -1px;
  }
  .posts {

    display: flex;
    justify-content: space-around;
    flex: 1 1 25%;
    gap: 1rem 1rem;

    @media(max-width: 800px) {
      flex-direction: column;
    }
  }
}
.lightertext {
  filter: brightness(85%);
}
.order-first {
  order: -1;
}

.skills {
  color: var(--secondary-color-50);
  text-wrap: balance;
  & .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #FF746D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%231B0E31'/%3E%3Cstop offset='1' stop-color='%23FF746D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%238d414f'/%3E%3Cstop offset='1' stop-color='%23FF746D'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(2000 0)'%3E%3Cg %3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-68.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.54' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    justify-content: space-around;
    /* background by SVGBackgrounds.com */
  }

  & ul {
    list-style: none;
    & li {
      margin-top: 0.5rem;

    }
  }

  & .skill-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &>* {
      flex: 1 1 0;
    }
  & .right {
 }
  & h2 {
    font-size: var(--font-size-xxl);
    margin-bottom:2.5rem;
    line-height: 115%;
  }
 
   & .card {
    border-radius: 1rem;
    border-top-left-radius: 0rem;
    padding: 2rem;
    padding-left: 5%;
    padding-right: 5%;
   }
   & .right {
 
   }
  
  }


  & img {

    object-fit: cover;
    width: 100%;
    height: 70dvh;

    display: block;
    /* no whitespace */
  }
  & .imageframe {
    padding: 5dvw;
  }

  @media(max-width: 800px) {
    & .skill-section {
      flex-direction: column;
    }
  }
}


.gallery {
  padding-top: 5dvh;
  padding: 3rem;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  row-gap: 2dvh;
  text-transform: uppercase;

  & h2 {
    color: var(--secondary-color-950);
  }
}
.alignselfcenter {
  align-self: center;
}
.masonry {
  & img {
    width: 100%;
  }


  column-count: 4;
  column-gap: 16px;


  & .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }
  & .mItem:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 1199px) {
    column-count: 3;
  }

  @media (max-width: 991px) {
    column-count: 2;

  }

  @media (max-width: 767px) {
    column-count: 1;
  }
}

.contact-form {
  margin-top: 5dvh;
  display: flex;
  align-content: center;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-content: center;
    justify-content: center;

    & label {
      color: var(--text-color);
      font-weight: bold;
    }

    & input,
    & textarea {
      padding: 8px;
      border: 1px solid var(--tertiary-color-200);
      border-radius: 4px;
      width: 100%;
    }
    & .large {
      height: 20dvh;
    }

  }
}

footer {
  margin-top: 5dvh;
  padding-bottom: 2dvh;
  display: flex;
  align-content: center;
  justify-content: center;
}